@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
 padding: 0;
 margin: 0;
 text-decoration: none;
 font-family:  sans-serif;
 box-sizing: border-box;
 /* font-weight: 10; */
 letter-spacing: 0.1rem;
 color: #7C7978;
}

a {
 color: #7C7978;
 text-decoration: none;
 box-shadow: inset -0.2em -0.2em #D4EEFF;
}

header {
 color: #7C7978;
 /* font-family: 'Courier New', Courier, monospace; */
 /* text-transform: uppercase; */
 /* background-color: rgb(243, 199, 247); */
 font-size: 1rem;
 padding: 1.2%;
}

.logo {
 width: 4%;
 display: inline-block;
}

.navigation {
 display: inline-block;
 width: 94.5%;
 /* background-color: bisque; */
 position: sticky;
}

.navigation ul{
 list-style: none;
}

.navigation li {
 /* background-color: chartreuse; */
 width: fit-content;
 float: right;
 padding: 1% 2%;
 /* margin-bottom: 2%; */
}

a:hover {
 box-shadow: inset -0.2em -0.2em 0 #5BBEFF;
}

/* li:hover { */
 /* border: 2px solid black; */
 /* padding: 15%; */
 /* color: black; */
 /* background: rgb(255,90,221); */
 /* background: linear-gradient(90deg, rgba(255,90,221,1) 0%, rgba(254,232,27,0.9808298319327731) 40%, rgba(255,108,121,1) 100%); */
 /* opacity: 80%; */
 /* border-radius: 100%; */
/* } */

.landing-page {
 /* background-color: coral; */
 font-family: "Open sans", serif;
 /* display: inline-block; */
 text-align: center;
}

.landing-text {
 padding: 2%;
}

.landing-text h1 {
 font-weight: 100;
}

.main-images {
 padding: 3%;
 display: inline-block;
 
 /* background-size: cover; */
 /* width: 100%; */
 /* opacity: 40%; */
}

.blog-previews {
 padding: 1rem;
 font-size: 1rem;
 text-align: center;
 /* background-color: darkgrey; */
}

.blog {
 padding: 4% 2%;
 width: 30%;
 display: inline-block;
 font-family: sans-serif;
 letter-spacing: 0.1rem;
 line-height: 1.5rem;
 /* text-align: justify; */
 /* background-color: honeydew; */
}

.excerpt {
 padding: 0 5%;
}

.excerpt h3, p {
 font-weight: 100;
}

.excerpt p {
 font-size: 0.8rem;
}

/* .cover {
 opacity: 70%;
 width: fit-content;
} */

.cover img {
 width : 100%;
 height : 100%;
}

footer {
 padding: 2%;
 text-align: center;
}